:root {
  --xo-height-navheader: 64px;
}

.xo-navheader {
  height: var(--xo-height-navheader);
  width: 100%;
  background-color: var(--xo-color-secondary);
}

.xo-navheader-content {
  padding: 0px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.xo-navheader-content-left-title {
  font-size: 24px;
  font-weight: 500;
}

body[theme-mode="dark"] .xo-navheader-content-left-title {
  color: white;
}
