.xo-main-sider {
  width: var(--sider-width);
  height: 100%;
  background-color: var(--xo-color-secondary);
}

.xo-main-sider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

.xo-main-sider-avatar {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 30px 0 18px 0;
}

.xo-main-sider-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
}

.xo-main-sider-item {
  width: 32px;
  height: 32px;
  margin-top: 30px;
  cursor: pointer;
  position: relative;
}

.xo-main-sider-item img {
  width: 24px;
  height: 24px;
}

.xo-main-sider-setting-box {
  position: absolute;
  bottom: 30px;
}

.xo-main-sider-setting {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.xo-sider-setting-position-re {
  position: relative;
}

.xo-icon-bar {
  width: 24px;
  height: 2px;
  margin: 5px 10px 0;
  background-color: #999;
}

.xo-icon-bar:nth-child(2n-1) {
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);

  -webkit-transition: background-color 0.2s, transform 0.2s;
  -moz-transition: background-color 0.2s, transform 0.2s;
  -ms-transition: background-color 0.2s, transform 0.2s;
  -o-transition: background-color 0.2s, transform 0.2s;
  transition: background-color 0.2s, transform 0.2s;
}

.xo-main-sider-setting.collapsed .xo-icon-bar:nth-child(1) {
  top: 7px;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.xo-main-sider-setting.collapsed .xo-icon-bar:nth-child(2) {
  background-color: transparent;
}

.xo-main-sider-setting.collapsed .xo-icon-bar:nth-child(3) {
  top: -7px;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.xo-sider-setting-list {
  position: absolute;
  left: var(--sider-width);
  bottom: 0;
  z-index: 1;
  padding: 0 12px;
  box-shadow: rgb(0 0 0 / 50%) 2px 5px 8px;
  color: #2B2B2B;
  background-color: #fff;
  border-radius: 4px;

  transform: scale(0);
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0.2, 0, 0.2, 1) !important;
  transform-origin: left bottom;
  box-shadow: 0px 4px 8px 0px #0000001A;
  img{
    width: 16px;
    margin-right: 5px;
  }
}

.xo-sider-setting-list.open {
  transform: scale(1);
}

.xo-sider-setting-list li {
  height: 46px;
  display: flex;
  align-items: center;
  // padding-left: 10px;
  cursor: pointer;
}

.xo-main-sider-item-badge {
  position: absolute;
  top: -15px;
  right: -5px;
}

.xo-versioncheckview-updateinfo {
  font-weight: 500;
}

.xo-versioncheckview-updateinfo li {
  margin-bottom: 10px;
}

.xo-versioncheckview-tip {
  border-top: var(--xo-line);
}

.xo-versioncheckview-tip-title {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.xo-versioncheckview-tip-content {
  margin-bottom: 40px;
}

.xo-versioncheckview-tip-content li {
  margin-bottom: 10px;
}

.xo-main-sider-setting-badge {
  position: absolute;
  right: 5px;
  top: -10px;
}

.xo-main-sider-modal .semi-modal-content {
  border: none !important;
  padding: 0px !important;
}

.xo-main-sider-modal .semi-modal-close {
  display: none;
}

.xo-main-sider-modal .semi-modal-body-wrapper {
  margin: 0px;
}

/* .xo-base-modal-userinfo .semi-modal-body{
    height: 500px;
  } */

.xo-main-sider-meinfo .semi-modal-body {
  height: 500px;
}
