:root {
  --xo-height-viewqueueheader: 50px;
}

.xo-viewqueueheader {
  background-color: var(--xo-color-secondary);
  height: var(--xo-height-viewqueueheader);
  width: 100%;
  position: relative;
}

.xo-viewqueueheader-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-viewqueueheader-content-title {
  font-size: 17px;
  font-weight: 500;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body[theme-mode="dark"] .xo-viewqueueheader-content-title {
  color: white;
}

.xo-viewqueueheader-back {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 15px;
}

.xo-viewqueueheader-back img {
  width: 10px;
  height: 15px;
}

.xo-viewqueueheader-content-action {
  position: absolute;
  right: 15px;
}
