.xo-iconlistitem {
  background-color: white;
  height: 150px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.xo-iconlistitem {
  border-bottom: 50px solid var(--xo-bg-color);
}
.xo-contacts-content-fnc >div:last-child .xo-iconlistitem {
  border-bottom: none;
  height: 100px;
}

.xo-iconlistitem-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.xo-iconlistitem-content-icon img {
  width: 65px;
  height: 65px;
}

.xo-iconlistitem-content-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
}

body[theme-mode="dark"] .xo-iconlistitem-content-title {
  color: white;
}

.xo-iconlistitem-content-badge {
  position: absolute;
  right: 15px;
}
