.xo-messageinput-box {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  box-shadow: 0.3rem -0.2rem 0.8rem 0.05rem rgb(114 114 114 / 5%);
  border-left: none;
}

body[theme-mode="dark"] .xo-messageinput-box {
  background-color: var(--xo-color-secondary);
}

/* .xo-messageinput-box:hover {
     box-shadow: 0 0 10px rgb(0 0 0 / 15%)
} */

.xo-messageinput-inputbox {
  height: calc(100% - 40px) ;
  width: 100%;
  padding: 0px 15px 15px 15px;
  box-sizing: border-box;
}

.xo-messageinput-input {
  height: 100%;
  width: 100%;
  border: none;
  color: #333;
  font-size: 14px;
  overflow-y: scroll;
  display: inline-block;
  -webkit-user-modify: read-write-plaintext-only;
  outline: none;
}

body[theme-mode="dark"] .xo-messageinput-input {
  color: white;
}

.xo-messageinput-input textarea {
  outline: none;
  border: none;
}

.xo-messageinput-input:empty:before {
  content: attr(data-placeholder);
  position: absolute;
  color: #a9a9a9;
}

.xo-messageinput-bar {
  height: 40px;
  width: 100%;
  display: flex;
  top: 0px;
}

.xo-messageinput-tabs {
  height: 100%;
  width: 50%;
}

.xo-messageinput-toolbar {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.xo-messageinput-actionbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.xo-messageinput-actionitem {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xo-messageinput-sendbtn {
  height: 28px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(180deg, #92a2b1 4.39%, #7b8e9f 94.46%);
  border-radius: 2px;
  cursor: pointer;
}

.xo-messageinput-hasValue {
  background-color: var(--xo-color-theme);
}

.xo-messageinput-member {
  height: 100%;
  width: 100%;
  padding: 0 16px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.xo-messageinput-iconbox {
  margin-right: 8px;
}

.xo-messageinput-icon {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.xo-messageinput-selected {
  color: #fff;
  /* background-color: #1264a3; */
}

.quickReplyPanel {
  position: absolute;
  box-shadow: 1px -1px 12px -2px rgb(0 0 0 / 28%);
  max-height: 400px;
  overflow-x: hidden;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-radius: 4px;
}

.quickReplyPanel ul {
  margin: 0;
  padding: 0;
}

.quickReplyPanel ul li {
  list-style-type: none;
  height: 60px;
  border-bottom: 1px solid rgba(9, 30, 66, 0.12);
  cursor: pointer;
}

.quickReplyItem {
}

.quickReplyItem :hover {
  background-color: #f4f5f7;
}

.quickReplySelect {
  background-color: #5d657a !important;
  color: #fff !important;
}

.xo-messageinput-header {
}

.xo-messageinput-reply {
  margin: 10px 10px 0px 10px;
  background-color: #f5f6f7;
  display: flex;
  color: #8f959e;
  align-items: center;
}

.xo-messageinput-closeicon {
  margin: 0px 6px;
  cursor: pointer;
}

.xo-messageinput-replycontent {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
}

.xo-messageinput-input__control {
  background-color: white;
}

body[theme-mode="dark"] .xo-messageinput-input__control {
  background-color: var(--xo-color-secondary);
}

.xo-messageinput-input__suggestions {
  background-color: var(--xo-color-item);
}

body[theme-mode="dark"] .xo-messageinput-input__input {
  color: white;
}
