.xo-list-item {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: white;
  justify-content: space-between;
  box-sizing: border-box;
}

body[theme-mode="dark"] .xo-list-item {
  background-color: var(--xo-color-secondary-2);
}

.xo-list-item:hover {
  background-color: #eee;
}

.xo-list-item-ripple {
  position: relative;
  overflow: hidden;
}

.xo-list-item-ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.7s, opacity 0.5s;
}

.xo-list-item-ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.7;
  transition: 0s;
}

.xo-list-item-title {
  font-size: 15px;
  font-weight: 400;
  color: black;
}

body[theme-mode="dark"] .xo-list-item-title {
  color: white;
}

.xo-list-item-action {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0;
  margin-left: auto;
}

.xo-list-item-subtitle {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  color: var(--xo-color-font-tip);
  text-align: end;
  word-wrap: break-word;
  word-break: normal;
}

.xo-list-item-subtitle-oneline {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xo-list-item-subtitle-muliteline {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  white-space: pre-line;
  word-wrap: break-word;
}

.xo-list-item-arrow {
  margin-right: -10px;
}

.xo-list-item-arrow img {
  width: 9px;
  height: 14px;
}

.xo-list-item-tip {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--xo-color-font-tip);
  font-size: 13px;
}
