
.xo-meinfo {
    background-color: var(--xo-color-secondary);
    position: relative;
    --xo-height-userInfo-footer: 60px;
    --xo-height-userInfo-nav: 44px;
    width: 100%;
    height: 100%;
}

.xo-meinfo-sections {
    
}