.xo-chat {
  width: 100%;
  height: 100%;
}

.xo-chat-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.xo-chat-content-left {
  width: var(--xo-wdith-conversation-list);
  height: 100%;
  border-right: var(--xo-line);
}

.xo-chat-search {
  height: var(--xo-height-chat-search);
  width: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:var(--xo-bg-color);
}

.xo-chat-search-add {
  padding: 5px;
  cursor: pointer;
  color: black;
}

body[theme-mode="dark"] .xo-chat-search-add {
  color: white;
}

.xo-chat-title {
  width: 250px;
  font-size: 32px;
  font-weight: 500;
}

body[theme-mode="dark"] .xo-chat-title {
  color: white;
}

.xo-chat-conversation-list {
  width: 100%;
  height: calc(100% - var(--xo-height-chat-search));
}

.xo-chat-content-right {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

@media screen and (max-width: 640px) {
  .xo-chat-content-right {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    transition: transform var(--xo-layer-transition);
  }

  .xo-chat-content:not(.xo-conversation-open) .xo-chat-content-right {
    transform: translate3d(100vw, 0, 0);
  }

  .xo-chat-content-left {
    width: 100%;
  }

  .xo-chat-conversation-header-back {
    display: flex !important;
  }
}

.xo-chat-content-chat {
  width: 100%;
  height: 100%;
  transition: width 150ms ease-in-out 0s;
}

.xo-chat-content-right.xo-chat-channelsetting-open .xo-chat-content-chat {
  width: calc(100% - var(--xo-wdith-chat-channelsetting));
}

.xo-chat-conversation {
  width: 100%;
  height: calc(100% - var(--xo-height-chat-conversation-header));
}

.xo-chat-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: var(--xo-color-secondary); */
}

.xo-chat-empty img {
  height: 352px;
  /* transform: scale(1.14); */
}

.xo-chat-conversation-header {
  height: var(--xo-height-chat-conversation-header);
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  /* box-shadow: 0 1px 1px rgba(114, 114, 114, 0.168627); */
  z-index: 11;
  padding: 0.5rem 0.8125rem 0.5rem 1.5rem;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

body[theme-mode="dark"] .xo-chat-conversation-header {
  background-color: var(--xo-color-secondary);
}

.xo-chat-conversation-header-left {
  display: flex;
  align-items: center;
}

.xo-chat-conversation-header-back {
  width: 40px;
  height: 40px;
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
}

.xo-chat-conversation-header-back-icon {
  position: absolute;
  /* transform: rotate(-45deg); */
  transform: rotate(180deg);
}

.xo-chat-conversation-header-back-icon::before,
.xo-chat-conversation-header-back-icon::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}

.xo-chat-conversation-header-back-icon::after {
  transform: rotate(-45deg) scaleX(0.75) translate(0, 0.375rem);
}

.xo-chat-conversation-header-back-icon::before {
  transform: rotate(45deg) scaleX(0.75) translate(0, -0.375rem);
}

.xo-chat-conversation-header-back-icon,
.xo-chat-conversation-header-back-icon::before,
.xo-chat-conversation-header-back-icon::after {
  width: 1.125rem;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: rgb(112, 117, 121);
  transition: transform var(--xo-slide-transition);
}

.xo-chat-conversation-header-channel {
  display: flex;
}

.xo-chat-conversation-header-channel-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.xo-chat-conversation-header-channel-info {
  display: flex;
  align-items: center;
}

.xo-chat-conversation-header-channel-info-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

body[theme-mode="dark"] .xo-chat-conversation-header-channel-info-name {
  color: white;
}

.xo-chat-conversation-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.xo-chat-conversation-header-right {
  display: flex;
  align-items: center;
}

.xo-chat-conversation-header-right div {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.xo-chat-conversation-header-right div:last-child {
  margin-right: 0px;
}

.xo-chat-conversation-header-setting {
  display: flex;
  align-items: center;
}

.xo-chat-channelsetting {
  pointer-events: auto;
  width: var(--xo-wdith-chat-channelsetting);
  height: 100%;
  transition: margin-right 150ms ease-in-out 0s;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  border-left: var(--xo-line);
  margin-right: calc(0px - var(--xo-wdith-chat-channelsetting));
  background-color: var(--xo-color-secondary);
}

@media screen and (max-width: 1275px) {
  .xo-chat-channelsetting {
    box-shadow: 0 0.25rem 0.5rem 0.125rem rgba(114, 114, 114, 0.25098);
    border-left: none;
  }

  body[theme-mode="dark"] .xo-chat-channelsetting {
    box-shadow: 0 0.25rem 0.5rem 0.125rem rgba(0, 0, 0, 0.25098);
  }
  .xo-chat-content-right.xo-chat-channelsetting-open .xo-chat-content-chat {
    width: 100%;
  }
}

.xo-chat-content-right.xo-chat-channelsetting-open .xo-chat-channelsetting {
  margin-right: 0px;
}

.xo-chat-conversation-list-loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.xo-chatmenuspopover {
  width: 100%;
  height: 100%;
}

.xo-chatmenuspopover ul {
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}

body[theme-mode="dark"] .xo-chat-popover {
  background-color: var(--xo-color-secondary);
  color: white;
  --color-popover-bg-default: red;
}

.xo-chatmenuspopover li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.xo-chatmenuspopover li:first-child {
  margin-top: 0px;
}

.xo-chatmenuspopover li img {
  width: 16px;
  height: 16px;
  color: white;
}

.xo-chatmenuspopover-title {
  margin-left: 10px;
  font-size: 14px;
}

.xo-chat-conversation-header-right-item {
  position: relative;
}

.xo-conversation-header-mask {
  background-color: rgb(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  border-radius: 100%;
}

.xo-conversation-header-mask:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.xo-chatmenuspopover-avatar{
  display: flex;
  align-items: center;
}