.xo-contacts {
  width: 100%;
  height: 100%;
  --xo-height-contacts-content-header: 50px;
  border-right: var(--xo-line);
}

.xo-contacts-content-header {
  width: 100%;
  padding: 0px 10px;
  background-color: var(--xo-color-secondary);
}

.xo-contacts-content {
  width: 100%;
  height: calc(100% - var(--xo-height-navheader));
  overflow: auto;
}

.xo-contacts-content-contacts {
  width: 100%;
}

.xo-contacts-section {
}

.xo-contacts-section-list {
  padding: 0px 5px;
  background-color: var(--xo-color-item);
}

.xo-contacts-section-item-index {
  width: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

body[theme-mode="dark"] .xo-contacts-section-item-index {
  color: white;
}

.xo-contacts-section-item {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 0px;
  cursor: pointer;
}

body[theme-mode="dark"] .xo-contacts-section-item {
  background-color: var(--xo-color-secondary-2);
}

/* .xo-contacts-section-item:hover {
    background-color: var(--xo-color-hover);
    border-radius: 10px;
} */

.xo-contacts-section-item-selected {
  background-color: var(--xo-color-theme);
  color: white;
  border-radius: 10px;
}

.xo-contacts-section-item-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.xo-contacts-section-item-name {
  margin-left: 15px;
}

body[theme-mode="dark"] .xo-contacts-section-item-name {
  color: white;
}

.xo-contacts-content-fnc {
  width: 100%;
}

.xo-contacts-content-header .xo-search-box {
  background-color: white;
  width: 100%;
  border-radius: 4px;
}
