
.xo-userselect {
    width: 100%;
    height: 100%;
}

.xo-contactsselect {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.xo-contactsselect-content {
    width: 100%;
    height: calc(100% - var(--xo-height-viewqueueheader));

}