.xo-mergeforwardmessagelist {
  width: 100%;
  height: 100%;
}

.xo-mergeforwardmessagelist-content {
  width: 100%;
  height: 100%;
  background-color: var(--xo-color-secondary);
}

.xo-mergeforwardmessagelist-content-timeline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-mergeforwardmessagelist-content-msgs {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.xo-mergeforwardmessagelist-content-msg {
  display: flex;
  width: 100%;
  padding: 15px;
  background-color: var(--xo-color-item);
}

.xo-mergeforwardmessagelist-content-msg-info {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.xo-mergeforwardmessagelist-content-msg-info-first {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 15px;
}

.xo-mergeforwardmessagelist-content-msg-info-first-name {
  font-size: 14px;
  color: #999;
}

.xo-mergeforwardmessagelist-content-msg-info-first-time {
  font-size: 12px;
  color: #999;
}

.xo-mergeforwardmessagelist-content-msg-info-second-msgcontent {
  padding: 0px 15px;
  margin-top: 5px;
}
