.xo-sections {
}

.xo-section {
  margin-top: 10px;
}

.xo-section:first-child {
  margin-top: 0px;
}

.xo-section-rows {
}

.xo-section-title {
  padding: 5px 15px;
  color: var(--xo-color-font-tip);
  font-size: 13px;
}

.xo-section-row {
}

.xo-section-subtitle {
  padding: 5px 15px;
  color: var(--xo-color-font-tip);
  font-size: 13px;
}
