.xo-message-text {
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}

.xo-message-text  pre {
    margin-bottom: 0;
    white-space: pre-wrap; /*css-3*/
    white-space: -moz-pre-wrap; /*Mozilla,since1999*/
    white-space: -pre-wrap; /*Opera4-6*/
    white-space: -o-pre-wrap; /*Opera7*/
    word-wrap: break-word; /*InternetExplorer5.5+*/
    font-family: Helvetica;
}

.xo-message-text-richtext {
    
}

.xo-message-text-richmention {
    cursor: pointer;
    text-decoration: underline;
}

.xo-message-text-send {
    color: white;
}

.xo-message-text-recv {
    color: black;
}

body[theme-mode=dark] .xo-message-text-recv {
    color: white;
}

.xo-message-text-richemoji {

}

.xo-message-text-richemoji img {
    width: 22px;
    height: 22px;
}

.xo-message-text-reply {
    display: flex;
    color: rgb(255, 255, 255,0.5);
    font-size: 14px;
    flex-direction: column;
    cursor: pointer;
}

.xo-message-text-reply.xo-message-text-reply-recv {
    color: rgb(0, 0, 0,0.5);
}

body[theme-mode=dark] .xo-message-text-reply.xo-message-text-reply-recv {
    color: rgb(255, 255, 255,0.5);
}


.xo-message-text-reply-author {
    display: flex;
    align-items: center;
}

.xo-message-text-reply-authoravatar {
    margin-right: 4px;
}

.xo-message-text-reply-content { 
    width:100%;
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	overflow:hidden;
}

.xo-message-text-content {
    margin: 0;
    word-break: break-word;
    line-height: 1.3125;
    text-align: initial;
    display: flow-root;
    unicode-bidi: plaintext;
}