.xo-mergeforwards {
  width: 300px;
  background-color: var(--xo-message-item);
  border-radius: 8px;
  cursor: pointer;
}

.xo-mergeforwards-content {
  padding: 10px 10px 0px 10px;
  color: black;
}

.xo-mergeforwards-content-title {
  font-size: 15px;
  font-weight: 500;
  color: var(--xo-message-color);
}

.xo-mergeforwards-content-items {
  padding-bottom: 5px;
}

.xo-mergeforwards-content-items .xo-mergeforwards-content-item {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #999 !important;
}

.xo-mergeforwards-content-tip {
  display: flex;
  justify-content: space-between;
  color: #999 !important;
  font-size: 13px;
  padding: 2px 0px;
}

.xo-mergeforwards-content-tip p {
  margin-bottom: 0px;
}

.xo-mergeforwards-content-tip p:last-child {
  margin-top: -4px;
}

.xo-mergeforwards-content-line {
  width: 100%;
  background-color: var(--xo-line-color);
  height: 1px;
}
