.xo-iconlistitem {
  background-color: white;
  height: 70px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.xo-iconlistitem-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.xo-iconlistitem-content-icon img {
  width: 32px;
  height: 32px;
}

.xo-iconlistitem-content-title {
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

body[theme-mode="dark"] .xo-iconlistitem-content-title {
  color: white;
}

.xo-iconlistitem-content-badge {
  position: absolute;
  right: 15px;
}
