.xo-route {
  width: 100%;
  height: 100%;
  --xo-height-route-header: 56px;
}

.xo-route-header {
  width: 100%;
  height: var(--xo-height-route-header);
  padding: 0.5rem 0.8125rem;
  display: flex;
  align-items: center;
  background-color: var(--xo-color-secondary);
}

.xo-route-box {
  width: 100%;
  height: calc(100% - var(--xo-height-route-header));
  position: relative;
}

.xo-route-content {
  width: 100%;
  height: 100%;
  background-color: var(--xo-color-secondary);
  position: relative;
  /* opacity: 1; */
  /* transition: opacity 150ms ease-in 0s; */
}

.xo-route-content-route {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translate3d(100vw, 0, 0);
  transition: transform var(--xo-layer-transition);
}

.xo-route-content-next {
  width: 100%;
  height: 100%;
  background-color: var(--xo-color-secondary);
  overflow: auto;
  /* transition: opacity 350ms ease-in 0s; */
}

.xo-route-header-close {
  width: 44px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.xo-route-header-close:hover {
  background-color: rgb(112, 117, 121, 0.08);
}

.xo-route-header-close-icon {
  position: absolute;
  transform: rotate(-45deg);
}

.xo-route-header-close-icon,
.xo-route-header-close-icon::before,
.xo-route-header-close-icon::after {
  width: 1.125rem;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: rgb(112, 117, 121);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.xo-route-header-close-icon::before {
  transform: rotate(90deg);
}

.xo-route-header-close-icon::before,
.xo-route-header-close-icon::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}

.xo-state-back {
  transform: rotate(180deg);
}

.xo-state-back::before {
  transform: rotate(45deg) scaleX(0.75) translate(0, -0.375rem);
}

.xo-state-back::after {
  transform: rotate(-45deg) scaleX(0.75) translate(0, 0.375rem);
}

.xo-route-header-title-box {
  color: #999;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  flex: 1;
}

.xo-route-header-title-box-open {
}

.xo-route-header-title {
  font-size: 18px;
  font-weight: 500;
  margin-left: 1.375rem;
  color: black;
}

body[theme-mode="dark"] .xo-route-header-title {
  color: white;
}

.xo-route-header-title-box-open .xo-route-header-title {
  display: none;
}

.xo-route-header-title-next {
  font-size: 18px;
  font-weight: 500;
  margin-left: 1.375rem;
  color: black;
  position: absolute;
  opacity: 0;
  transform: translate3d(100vw, 0, 0);
  transition: transform var(--xo-layer-transition), opacity 500ms ease-in 0s;
  width: 180px;
}

body[theme-mode="dark"] .xo-route-header-title-next {
  color: white;
}

.xo-route-header-title-box-open .xo-route-header-title-next {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.xo-route-content-route-open .xo-route-content {
  /* opacity: 0; */
}

.xo-route-content-route-open .xo-route-content-route {
  transform: translate3d(0, 0, 0);
}

.xo-route-content-route-open .xo-route-content-next {
  /* opacity: 1; */
}

.xo-route-header-right-view {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.xo-route-header-right-view-open {
  opacity: 1;
}
