.xo-userinfo {
  background-color: var(--xo-color-secondary);
  position: relative;
  --xo-height-userInfo-footer: 60px;
  --xo-height-userInfo-nav: 44px;
  width: 100%;
  height: 100%;
}

.xo-userInfo-footer {
  width: 100%;
  height: var(--xo-height-userInfo-footer);
  background-color: white;
  position: absolute;
  bottom: 0px;
}

body[theme-mode="dark"] .xo-userInfo-footer {
  background-color: var(--xo-color-secondary);
}

.xo-userinfo-user {
  display: flex;
}

.xo-userinfo-content {
  width: 100%;
  height: calc(100% - var(--xo-height-userInfo-footer));
  overflow: auto;
}

.xo-userinfo-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.xo-userinfo-user-avatar {
  margin-left: 20px;
  border-radius: 40%;
  background-color: var(--xo-color-item);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xo-userinfo-user-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
}

.xo-userinfo-user-info-name {
  font-size: 16px;
  color: var(--xo-text-item);
}

.xo-userinfo-user-info-others ul {
  margin-bottom: 0px;
  margin-top: 2px;
}

.xo-userinfo-user-info-others li {
  color: var(--xo-color-font-tip);
}

.xo-userinfo-footer-sendbutton {
  width: 100%;
  height: 100%;
  padding: 10px 15px 15px 15px;
}

.xo-userinfo-footer-sendbutton button {
  width: 100%;
  height: 40px;
}

.xo-userinfo-sections {
  margin-top: 20px;
}

.xo-userinfo-loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
